extends layout

block content
  h3 Currently playing
  if currentlyPlaying
    h5 #{currentlyPlaying}
    a#pause(href="#")
      i.icon-pause
    a#stop(href="#")
      i.icon-stop

    button.btn#small-forward &gt;

  else
    h5 Nothing

block specificJs
  script(type="text/javascript", src="/assets/js/current.js")
