extends layout

block content
  h3 Currently playing
  if currentlyPlaying
    h5 #{currentlyPlaying}
    a#pause(href="#")
      i.icon-pause
    a#stop(href="#")
      i.icon-stop

    br
    br
    br

    button.btn#big-backward &lt; &lt;
    button.btn#small-backward &lt;
    button.btn#small-forward &gt;
    button.btn#big-forward &gt; &gt;

  else
    h5 Nothing

block specificJs
  script(type="text/javascript", src="/assets/js/current.js")
