doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/css/bootstrap-responsive.min.css", rel="stylesheet")

    block head

  body
    div.navbar.navbar-inverse
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") RPMC
          div.nav-collapse
            ul(class="nav")
              li
                a(href="/web/list") Video list
              li
                a(href="/web/current") Currently playing
              li
                a(href="/web/shutdown") Shutdown


    div.container
      block content

    script(type="text/javascript", src="/assets/js/jquery-2.1.4.min.js")
    script(type="text/javascript", src="/assets/js/bootstrap.min.js")
    block specificJs

    block footer
